<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
    <h1>All the Users</h1>
    <table id="maintable" class="table table-striped table-bordered table-hover">
        <tr class="thead-dark">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.first_name }} {{ user.last_name }}</td>
            <td>{{ user.email_address }}</td>
            <td>{{ user.age }}</td>
        </tr>
        {% endfor %}
    </table>
    <div class="border"></div>
    <h2>Add a User</h2>
    <form action="/add" method="post" class="needs-validation">
        {% csrf_token %}
        <div class="row form-row">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" class="form-control">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" class="form-control">
        </div>
        <div class="row form-row">
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" class="form-control">
            <label for="age">Age:</label>
            <input type="text" name="age" id="age" class="form-control">
        </div>
        <button type="submit" class="btn btn-secondary btn-lg" id="add">Add</button>
    </form>
</body>
</html>