<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Gold</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <h4><strong>Your GOLD: </strong></h4>
        <div class="output">{{ request.session.gold }}</div>
    </header>
    <main>
        <section>
            <h1>Farm</h1>
            <h3>(earns 10-20 gold)</h3>
            <form action="/process_money" method="post">
                {% csrf_token %}
                <input type="hidden" name="gold" value="farm">
                <button type="submit"><strong>Find Gold!</strong></button>
            </form>
        </section>
        <section>
            <h1>Cave</h1>
            <h3>(earns 10-20 gold)</h3>
            <form action="/process_money" method="post">
                {% csrf_token %}
                <input type="hidden" name="gold" value="cave">
                <button type="submit"><strong>Find Gold!</strong></button>
            </form>
        </section>
        <section>
            <h1>House</h1>
            <h3>(earns 10-20 gold)</h3>
            <form action="/process_money" method="post">
                {% csrf_token %}
                <input type="hidden" name="gold" value="house">
                <button type="submit"><strong>Find Gold!</strong></button>
            </form>
        </section>
        <section>
            <h1>Quest</h1>
            <h3>(earns/takes 0-50 gold)</h3>
            <form action="/process_money" method="post">
                {% csrf_token %}
                <input type="hidden" name="gold" value="quest">
                <button type="submit"><strong>Find Gold!</strong></button>
            </form>
        </section>
    </main>
    <footer>
        <h2>Activities:</h2>
        <div class="activities">
            {% for element in request.session.message %}
            <p class="activity" style="color: {{element.1}};">{{element.0}}</p>
            {% endfor %}
        </div>
    </footer>
</body>

</html>