<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <form action="add_book/" method="post">
        {% csrf_token %}
        <h2>Add a Book</h2>
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" name="title" id="title">
        </div>
        <div class="form-group">
            <label for="desc">Description</label>
            <input class="form-control" type="text" name="desc" id="desc">
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <table class="table table-striped table-bordered table-hover">
        <tr class="thead-dark">
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Action</th>
        </tr>
        {% for book in books %}
        <tr scope="row">
            <td>{{ book.id }}</td>
            <td>{{ book.title }}</td>
            <td><a href='books/{{ book.id }}/'>View</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>