<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semi Restful TV Shows</title>
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>TV Show {{ show.id }}</h2>
    <ul>
        <li>Title: {{ show.title }}</li>
        <li>Network: {{ show.network }}</li>
        <li>Release Date: {{ show.release_date }}</li>
        <li>Description: {{ show.description }}</li>
    </ul>
    <p>{{ show.updated_at }}</p>
    <ul>
        <li><a href="">Edit</a></li>
        <li><a href="">Delete</a></li>
    </ul>
</body>
</html>