* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: sans-serif;
}

main {
    width: 90%;
    margin: 1%;
    padding: 2%;
    display: flex;
}

form {
    flex: 1;
    padding: 1%;
}

.border {
    width: 95%;
    height: 5px;
    margin: 1% auto;
    background-color: black;
    border-radius: 50px;
}

section {
    padding: 2%;
}

h2, h3 {
    margin-left: 40%;
}